#features {
    padding: 0px 0 30px;

    @media screen and (max-width: 1200px) {
        @include pad(80px 25px);
    }

    h2 {
        margin-bottom: 30px;
        margin-top: 60px;

        @media screen and (max-width: 890px) {
            margin-top: 40px;
        }
    }
}

.featurelist {
    @include outer-container;
    @include pad(0);

    .feature {
        margin-bottom: 30px;
        display: block;
        position: relative;
    }

    .column {
        @include span-columns(6);
        padding-left: 0;
        padding-right: 20px;

        &:nth-child(2) {
            padding-left: 20px;
            padding-right: 0;
        }

        @media screen and (max-width: 890px) {
            @include span-columns(12);

            padding: 0 !important;
        }
    }

    .icon {
        float: left;
        width: 34px;
        //min-height: 100%;
        text-align: center;
        padding-left: 0px;
        height: 34px;

        @media screen and (max-width: 890px) {
            padding-left: 0px;
        }

        img {
            min-width: 34px;
            height: 34px;
        }
    }

    h3 {
        text-transform: uppercase;
    }

    .desc {
        padding-top: 8px;

        &.has-icon {
            margin-left: 45px;
        }
    }

    ul.list {
        @extend %default-ul;

        li {
            color: $secondary;
        }
    }
}

#subscribe {
    padding-top: 30px;
    border-top: 2px solid #F5F5F5;

    @media screen and (min-width: 1200px ){
        @include pad(0);
        padding-top: 50px;
    }
}