#interlude {
    background: transparentize($quaternary, .6);
    @include linear-gradient(to top left, transparentize($secondary, .6), transparentize($quinary, .1));
    position: relative;
    display: block;
    height: 220px;
    
    h1 {
        padding-top: 120px;
        color: white;
    }
    
    .interlude {        
        h1, p, span, b {
            padding-top: 0;
            color: white;
        }
        
        h1 {
            margin-bottom: 20px;
            text-align: left;
        }
    }
    
    .centered {
        position: relative;
        left: 0;
        top: 50%;
        @include transform(translateY(-50%));
    }
}

body.home #interlude {
    height: 100vh;
    
    .interlude h1 {
        text-align: center;
    }
}

#legal {
    padding-top: 40px;
}