html, body {
    //position: relative;
    height: 100%;
}

#interlude .interlude, header .intro {
    @include span-columns(8);
    @include shift(2);
    text-align: center;
    
    @media screen and (max-width: 767px) {
        @include span-columns(12);
        @include shift(0);
    }
}

* {
    color: $body-text;
}

.wide {
    @include span-columns(8);
}

.narrow {
    @include span-columns(4);
}

.half {
    @include span-columns(6);
}


.wide, .narrow, .half {
    @media screen and (max-width: 767px) {
        @include span-columns(12)
    }
}

.nova.large {
    padding: 20px 40px;

    @media screen and (max-width: 767px) {
        display: none;
    }
}

//body.cu {
//    @include cursor();
//}
//
//body.uc {
//    @include cursor();
//}

.container {
    @include outer-container;
    position: relative;
    @include pad(0 25px);
}


button {
    &.send {
        @include span-columns(4);
        width: auto;
        @include transition(.3s $ease-in-out-quint all);

        &.out {
            opacity: .2;
        }
    }
}

form {
    padding: 0px 0 60px;
}

input[type="email"] {
    width: 100%;
    height: 48px;
    padding-left: 15px;
    font-size: 18px;
    
    &::placeholder {
        font-style: italic;
    }
    
    &.error {
        border-color: $red;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    }

    &.valid {
        border-color: $green;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    }
}

.input-container {
    @include span-columns(8);
    position: relative;

    @media screen and (max-width: 520px) {
        @include span-columns(12);
    }

    .floatlabel {
        position: absolute;
        top: 7px;
        left: 0px;
        color: transparentize(#ffffff, 1);
        @include transition(.3s $ease-in-out-quint all);
        pointer-events: none;
        font-size: .8em;
    }

    input[type="email"]:focus + .floatlabel  {
        @include transform(translate3d(0, -30px, 0));
        color: transparentize(#ffffff, .2);
    }
}

span.messages {
    label {
        color: $primary;
        background-color: transparent;
        padding: 2px 8px;
        margin-top: -12px;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        margin-bottom: 15px;
        width: 100%;
        @include transition(.25s $ease-in-out-quad all);
    }

    .error {
        background-color: $red;
        color: $lt-text;
    }

    .valid, .invalid {
        background-color: $green;
        color: $lt-text;
        @include transform(translate3d(0, -39px, 0));
        padding: 8px 16px;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;

        &:after {
            content: "×";
            color: rgba(255,255,255,.7);
            float: right;
            font-size: 1.5em;
            line-height: 1em;
            cursor: pointer;

            &:hover {
                color: rgba(255,255,255,1);
            }
        }
    }
    
    .invalid {
        background-color: $purple;
        
        &:after {
            display: none;
        }
    }
}

a, button, .swiper-button-next, .swiper-button-prev, .swiper-pagination-bullet, .peek {
    cursor: url(/assets/img/pointer.png) 5 2, pointer !important;

    &:active {
        cursor: url(/assets/img/pointer.png) 5 1, pointer !important;
    }
}

footer {
    border-top: 1px solid #ddd;
    background-color: #F5F5F5;
    color: #666;
    padding: 30px 40px 20px;
    text-align: center;
}

.copy {
    display: block;
    float: right;
    font-size: .85em;
    padding: 0px 15px;
    text-align: center;
    //background-color: darken(#F5F5F5, 8);
}