@mixin btn($bg: $senary, $fsz: 1em, $col: lighten($bg,70%), $rad: 3px, $brdw: 0px, $brdt: solid, $brdc: rgba(0,0,0,.4)) {
    padding: 11px 32px 11px;
    background-color: $bg;
    color: $col;
    font-size: $fsz;
    border-radius: $rad;
    text-decoration: none;
    border: $brdw $brdt $brdc;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    //font-family: $header-font-family;
    font-weight: 500;
    display: inline-block;
    margin: 0px 5px 10px 0px;
    transition: .1s ease-in-out all;
    //text-transform: lowercase;
    font-weight: 600;

    &:hover, &:active  {
        background-color: darken($bg, 8);
        color: $col;
    }

    &:active {
        //box-shadow: inset 0px 0px 6px 0px rgba(0,0,0,.5);
        -webkit-transform: scale(.98);
    }
}

@mixin cursor() {
    .swiper-slide {
        cursor: url(/assets/img/drag.png) 13 9, grab !important;
        cursor: url(/assets/img/drag.png) 13 9, -moz-grab !important;
        cursor: url(/assets/img/drag.png) 13 9, -webkit-grab !important;

        &:active {
            cursor: url(/assets/img/draging.png) 13 9, grabbing !important;
            cursor: url(/assets/img/draging.png) 13 9, -moz-grabbing !important;
            cursor: url(/assets/img/draging.png) 13 9, -webkit-grabbing !important;
        }
    }

    .swiper-container-v .swiper-slide:nth-child(1) {
        cursor: url(/assets/img/drag-only-down.png) 13 9, grab !important;
        cursor: url(/assets/img/drag-only-down.png) 13 9, -moz-grab !important;
        cursor: url(/assets/img/drag-only-down.png) 13 9, -webkit-grab !important;

        &:active {
            cursor: url(/assets/img/draging-only-down.png) 13 9, grabbing !important;
            cursor: url(/assets/img/draging-only-down.png) 13 9, -moz-grabbing !important;
            cursor: url(/assets/img/draging-only-down.png) 13 9, -webkit-grabbing !important;
        }
    }

    .swiper-container-h .swiper-slide:nth-child(1) {
        cursor: url(/assets/img/drag-only-right.png) 13 9, grab !important;
        cursor: url(/assets/img/drag-only-right.png) 13 9, -moz-grab !important;
        cursor: url(/assets/img/drag-only-right.png) 13 9, -webkit-grab !important;

        &:active {
            cursor: url(/assets/img/draging-only-right.png) 13 9, grabbing !important;
            cursor: url(/assets/img/draging-only-right.png) 13 9, -moz-grabbing !important;
            cursor: url(/assets/img/draging-only-right.png) 13 9, -webkit-grabbing !important;
        }
    }

    .swiper-container-h .swiper-slide:last-child {
        cursor: url(/assets/img/drag-only-left.png) 13 9, grab !important;
        cursor: url(/assets/img/drag-only-left.png) 13 9, -moz-grab !important;
        cursor: url(/assets/img/drag-only-left.png) 13 9, -webkit-grab !important;

        &:active {
            cursor: url(/assets/img/draging-only-left.png) 13 9, grabbing !important;
            cursor: url(/assets/img/draging-only-left.png) 13 9, -moz-grabbing !important;
            cursor: url(/assets/img/draging-only-left.png) 13 9, -webkit-grabbing !important;
        }
    }
}