
.navigation {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: rgba(255,255,255,.95);
    box-shadow: 0 5px 15px 0 rgba(0,0,0,.05);
    width: 100%;
    @include transition(.3s all $ease-in-out-quad);
    min-height: 68px;

    .container {
        // @include pad(0 0px);

        @media screen and (max-width: 1200px) {
            @include pad(0 25px);
        }
    }
    
    h2 {
        float: left;
        padding-top: 16px;
        margin-bottom: 0;
        @include transition(.3s all $ease-in-out-quad);
        color: $secondary;
    }

    #nav-drawer {
        ul.nav {
            float: right;
            margin: 22px 0px 22px;

            li {
                display: inline-block;
                padding: 0 15px;

                a {
                    color: $secondary;
                    padding: 19px 0px;
                    font-weight: 500;
                    @include transition(.3s all $ease-in-out-quad);
                    border-bottom: 4px solid transparent;
                }
                
                &.newsletter {
                    display: none;
                }

                &.active a {
                    border-color: $secondary;
                }
            }
        }

        @media screen and (max-width: 910px) {
            width: 280px;
            height: 100%;
            position: fixed;
            top: 0;
            right: 0;
            float: none;
            background: $quaternary;
            box-shadow: inset 5px 0 15px 0 rgba(0,0,0,.08);
            @include transition(.3s all $ease-in-out-quad);
            @include transform(translateX(280px));

            ul.nav {
                width: 100%;
                margin-top: 69px;

                li, li.selected {
                    display: block;
                    padding: 0;
                    //background: lighten(#333333, 2);

                    a {
                        color: white;
                        display: block;
                        padding: 10px 25px;
                        font-size: 1.1em;
                        //border-top: 1px solid darken(#333, 3) !important;
                        border-bottom: none;
                    }
                }

                li.active {
                    background-color: darken($quaternary, 5);

                    a {
                        // color: $primary;
                    }
                }
            }

            &.in {
                @include transform(translateX(0px));
            }
        }
    }

    //.btn {
    //    @include btn($primary, 1em);
    //    border: 2px solid $primary;
    //    padding: 1px 10px 2px;
    //    font-weight: 500;
    //    float: right;
    //    z-index: 9;
    //    margin: 18px 0px 18px 18px;
    //    @include transition(.3s $ease-in-out-quad all);
	//
    //    @media screen and (max-width: 910px) {
    //        position: absolute;
    //        right: 80px;
    //    }
	//
    //    @media screen and (max-width: 457px) {
    //        opacity: 0;
    //    }
	//
    //    @media screen and (max-width: 457px) and (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    //        margin-top: 15px;
    //    }
	//
    //    @media screen and (min-width: 457px) and (-webkit-min-device-pixel-ratio: 2), (min-resolution: 144dpi) {
    //        margin-top: 18px;
    //    }
    //}

    &.inverted {
        background-color: transparent;
        box-shadow: none;
        
        .brand a, h2 a, h2 a:hover {
            color: white;
        }

        #nav-drawer ul li {
            a {
                color: white;
            }

            &.selected a {
                border-color: white;
            }
        }

        //.btn {
        //    border: 2px solid white;
        //    background-color: transparent;
        //}
    }

    &.in {
        //.btn {
        //    right: 125px;
		//
        //    @media screen and (max-width: 447px) {
        //        opacity: 1;
        //    }
        //}
    }
}

.hamburger {
    position: fixed;
    padding: 15px 15px 10px;
    top: 9px;
    right: 8px;
    z-index: 9;
    @include transition(.5s all $ease-in-out-quint);
    cursor: pointer;

    .bar {
        display: block;
        width: 28px;
        height: 3px;
        background-color: $secondary;
        margin-bottom: 5px;
        @include transition(.5s all $ease-in-out-quint);
        border-radius: 2px;
    }

    &.in {
        right: 6px;

        .bar:nth-child(1) {
            background-color: white;
            @include transform-origin(left top);
            @include transform(rotateZ(45deg) translateY(-2px));
        }

        .bar:nth-child(2) {
            background-color: white;
            width: 3px;
            @include transform-origin(center right);
            @include transform(rotateZ(0deg) translateX(10px));
        }

        .bar:nth-child(3) {
            background-color: white;
            @include transform-origin(left bottom);
            @include transform(rotateZ(-45deg) translateY(2px));
        }
    }

    @media screen and (min-width: 910px) {
        display: none;
    }
}

.brand {
    display: inline-block;
    height: 26px;
    width: 90px;
    font-size: 0em;
    @include transition(.3s $ease-in-out-sine all);

    a {
        color: $dark-text;
        display: inline-block;

        img {
            width: 90px;
            position: absolute;
            left: 18px;
            top: -6px;

            &.negative {
                opacity: 0;
            }
            
            @media screen and (max-width: 767px) {
                left: -20px;
            }
        }
    }
}

.inverted {
    .hamburger {
        .bar {
            background-color: white;
        }
    }
    
    h2 {
        color: white;
    }

    .brand a img {
        &.negative {
            opacity: 1;
        }

        &.regular {
            opacity: 0;
        }
    }
}

.shift {
    @include transition(.3s all $ease-in-out-quad);

    &.out {
        @include transform(translateX(-280px));
    }
}

footer {
    ul.right {
        position: absolute;
        right: 0;
        top: 0px;        
        
        li {
            display: inline-block;
            margin-left: 20px;
            
            a {
                color: #525252;
            }
        }
    }
}