.btn, button {
    @include btn($senary, 16px);
    border: 1px solid darken($senary, 5);
    margin-right: 5px;
    
    &.large {
        padding: 15px 32px 16px;
    }
    
    &.larger {
        padding: 15px 72px 16px;
    }

    &.secondary {
        border-color: white;
        background-color: transparent;
        
        &.larger {
            padding: 11px 72px 11px;
        }
		
		&:hover {
			background-color: #ffffff;
			color: $secondary;
		}
    }
    
    &.white {
        border-color: white;
        background-color: white;
        color: $secondary;
		
		&:hover {
			background-color: darken(white, 8);
		}
    }
}

header .intro {
    @include pad(60px 0px 30px);
}

#resources {
    background-color: #F9F9F9;
}

.resources {
    .row {
        @include row(table);
        padding-bottom: 60px;
        position: relative;
        
        .description {
            position: absolute;
            bottom: 0;
            border-bottom: 1px solid rgba(151,151,151,.22);
            padding-bottom: 18px;
        }
        
        > div.half {
            position: relative;
            display: inline-block;
            
            &.text {
                min-height: 307px; // min-height on document.ready
            }
            
            @media screen and (max-width: 767px) {
                &.text {
                    display: block;
                    height: auto;
                }
            }
        }
    }
    .row:nth-of-type(even) {        
        > div {
            float: right;
            
            &:nth-of-type(1n) {
                margin-left: 2.49716%;
                margin-right: 0;
            }
            
            &:last-child {
                margin-left: 0;
            }
        }
    }
    
    .row:nth-of-type(even) {
        > div {
            @media screen and (min-width: 767px) {
                text-align: right;
            }
        }
    }
    
    img {
        width: 100%;
    }
}

#inspiration {
    background-color: #F3F3F3;
    padding-bottom: 110px;
    
    p img {
        margin-bottom: -2px;
    }
}

.swiper-container {
    text-align: center;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 14px;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    
    .screen img {
        max-width: 94%;
    }
}

.swiper-button-prev, .swiper-button-next {
    position: absolute;
    top: 50%;
    @include transform(translateY(-50%));
    width: auto;
    line-height: 44px;
    height: 44px;
    padding: 8px 30px 8px 15px;
    -ms-background-size: 18px 24px;
    background-size: 18px 24px;
}

.swiper-pagination {
    position: absolute;
    left: 0;
    bottom: -75px;
    width: 100%;
    
    .swiper-pagination-bullet {
        background-color: #F9F9F9;
        border-color: #979797;
        border-width: 1px;
        width: 18px;
        height: 18px;
        margin: 0 10px;
        
        &.swiper-pagination-bullet-active {
            background-color: #4A4A4A;
        }
    }
}

.tabs {
    @include reset-display;
    @include span-columns(12);
    //@include shift(3);
    height: 50px;
    
    @media screen and (max-width: 767px) {
        @include span-columns(12);
        @include shift(0);
    }
	
	@media screen and (max-width: 374px) {
		height: auto;
	}
    
    ul {
        text-align: center;
		
		@media screen and (max-width: 374px) {
			text-align: left;
		}
    }
    
    li.tab {
        display: inline-block;
        padding: 0 30px;
        
        @media screen and (max-width: 767px) {
            padding: 0 10px;
        }
        
        a {
            color: $secondary;
            padding: 16px 0;
			
			@media screen and (max-width: 374px) {
				padding: 0 20px;
				border-left: transparent solid 4px;
				font-size: 1.2em;
			}
        }
        
        &.active a {
            border-bottom: #001155 solid 4px;
			
			@media screen and (max-width: 374px) {
		    	border-bottom: none;
				border-left: #001155 solid 4px;
			}
        }
		
		@media screen and (max-width: 374px) {
			margin: 10px 0;
			display: block;
		}
    }
}

.tab-contents {
    min-height: 300px;
    position: relative;
    @include span-columns(10);
    @include shift(1);
    
    @media screen and (max-width: 767px) {
        @include span-columns(12);
        @include shift(0);
    }
    
    .tab-content {
        display: block;
        position: absolute;
        clear: both;
        padding: 30px 0;
        z-index: 0;
        background-color: #ffffff;
        
        &.active {
            z-index: 2;
        }        
    }
    
    .illustration {
        @include span-columns(3 of 10);
        @media screen and (max-width: 480px) {
            @include span-columns(12 of 12);
            padding: 20px 85px;
        }
        padding: 0 25px;
        img {
            width: 100%;
        }
    }
    
    .description {
        @include span-columns(7 of 10);
        @media screen and (max-width: 480px) {
            @include span-columns(12 of 12);
        }
        padding-top: 15px;
    }
}

#testimonials .swiper-container {
    height: 50vw;
    
    @media screen and (max-width: 767px) {
        height: 120vh;
    }
    
    .swiper-slide {
        background-size: cover;
        background-position: 30% center;
        
        .center {
            @include span-columns(5);
            @include shift(6);
            
            .quote {
                background: white url(/assets/img/ic_quote.png) top left no-repeat;
                background-size: 32px 24px;
                background-position: 30px 30px;
                padding: 25px 25px 25px 100px;
                text-align: left;
                border-radius: 4px;
                margin-bottom: 30px;
                position: relative;
                font-weight: 300;
                //box-shadow: 0 4px 8px 0 rgba(0,0,0,.4);
                z-index: 5;
                min-width: 250px;
                
                &:before {
                    content: "";
                    display: block;
                    width: 20px;
                    height: 20px;
                    background: #ffffff;
                    position: absolute;
                    left: -10px;
                    top: 50%;
                    @include transform(translateY(-50%) rotateZ(45deg));
                }
                
                blockquote {
                    margin: 0 0 20px;
                }
                
                span {
                    color: #9B9B9B
                }
            }
            
            @media screen and (max-width: 767px) {
                @include span-columns(12);
                @include shift(0);
                
                .quote {
                    min-width: 150px;
                }
            }
        }
        
        @media screen and (max-width: 767px) {
            
            .container {
                padding: 0 10px;
            }
            
            .overlay {
                position: absolute;
                bottom: 20px;
                left: 0px;
            }
            
            .btn.secondary {
                border-color: rgba(0,0,0,.2);
                background-color: $senary;
                color: white;
            }
            
            .center .quote {
                &:before {
                    content: "";
                    display: block;
                    width: 20px;
                    height: 20px;
                    background: #ffffff;
                    position: absolute;
                    left: 50%;
                    top: -10px;
                    @include transform(translateX(-50%) rotateZ(45deg));
                }
            }
        }
    }
}

#newsletter {
    @include linear-gradient(to top left, $secondary, $quinary);
    
    h2, p {
        color: white;
    }
}

form {
    @include span-columns(12);
    text-align: center;
    
    @media screen and (min-width: 767px) {
        @include span-columns(8);
        @include shift(2);
    }
}