h1, h2, h3, h4, p, b {
    color: $dark-text;
}

h1, h2, h3 {
    font-weight: 900;
    font-size: 3.5em;
    margin-bottom: 20px;
    letter-spacing: 0px;
    line-height: 1.15em;

    @media screen and (max-width: 1024px) {
        font-size: 2.2em;
    }

    @media screen and (max-width: 875px), screen and (max-height: 720px) {
        font-size: 1.8em;
    }
}

h2 {
    font-size: 1.75em;
    line-height: 1.286em;
}

h3 {
    font-size: 1.50em;
    line-height: 1.3334em;
    text-transform: uppercase;
}

p {
    font-size: 1em;
    font-weight: 300;
    margin-bottom: 26px;
}

p.i {
    font-style: italic;
    font-size: 1.13em;
    line-height: 1.33em;
}

p.lead {
    font-size: 1.5em;
    font-weight: 300;
}

b {
    font-weight: 600;
}




// Remove:
#home {

    h1 {
        display: inline-block;
        font-size: 3.5em;
        font-weight: 400;
        margin-top: 10px;

        @media screen and (max-width: 1024px) {
            font-size: 2.9em;
        }

        @media screen and (max-width: 370px), screen and (max-height: 720px) {
            font-size: 2.4em;
            margin-top: 0px;
        }
    }

    span {
        display: inline-block;
        font-size: 1.4em;
        line-height: 1.2em;
        font-weight: 200;

        @media screen and (max-width: 370px) {
            font-size: 1em;
        }

        &.tag {
            font-size: 1.1em;
            background-color: $purple;
            padding: 6px 10px 5px;
            float: right;
            margin-right: -17%;
            font-weight: 400;

            @media screen and (max-width: 875px), screen and (max-height: 720px) {
                margin-right: 5%;
                font-size: .9em;
            }

            @media screen and (max-width: 370px) {
                margin-right: -7px;
                font-size: .9em;
            }
        }
    }

    .short-desc {
        margin-top: 10vh;
    }

    .interlude {
        max-width: 370px;
        position: absolute;
        bottom: 10vh;

        h1 {
            margin-bottom: 0;
        }

        @media screen and (min-width: 1024px) {
            max-width: 320px;
            bottom: 15vh
        }

        @media screen and (max-width: 500px), screen and (max-height: 720px) {
            max-width: 320px;
            bottom: 4vh
        }

        @media screen and (max-width: 370px) {
            max-width: 78%;
        }
    }
}

p.teaser, #home p {
    margin-bottom: 20px;
    font-size: 1.4em;
    font-weight: 100;
    line-height: 1.3em;

    @media screen and (max-width: 1024px) {
        font-size: 1.2em;
    }

    @media screen and (max-width: 890px), screen and (max-height: 720px) {
        font-size: 1em;

        &:before {
            margin: -1px 0px 0 -16px;
        }
    }
}

#home p {
    @media screen and (max-width: 1024px) {
        font-size: 1.2em;
    }

    @media screen and (max-width: 370px) {
        font-size: 1em;
        margin-bottom: 15px;
    }
}

p.teaser {
    &:before {
        content: "«";
        font-size: 1.65em;
        margin: -1px 0px 0 -22px;
        float: left;
    }
}

.first p.teaser {
    font-size: 1.65em;

    @media screen and (max-width: 890px) {
        font-size: 1.2em;
        margin-bottom: 15px;
    }
}

