#video-container {
    //background: url('assets/images/chalet_0003.jpg') top left repeat;
    background-size: cover;
    min-width: 100%;
    min-height: 100vh;
    width: 100%;
    height: 100vh;
	overflow: hidden;
    position: absolute;
    top: 0;
    background-color: transparent;
}

#video_background {
  //-webkit-mask: url(assets/images/matrix.png) repeat;
  min-width: 100%;
  min-height: 100vh;
  z-index: -1;
  overflow: hidden;
  display: none;
  background-color: transparent;
  // @include transform(translate(-50%,-50%));
  //-webkit-filter: hue-rotate(350deg)
  //                brightness(80%);
}

html.js #video_background {
    display: block;
}

.lt-ie9 #video_background, .lt-ie9 #video-container  {
	display: none;
}
