footer
    .container
        .brand.shift.narrow
            a(href="#home")
                img.regular(src="assets/img/scs_logo.png" alt="Swissom")

        //- ul.right
        //-     li
        //-         a KONTAKT
        //-     li
        //-         a DE

        .copy #{public._data.global.copyright} • #{public._data.global.footnote} &nbsp;
            a(href="/legal.html") Impressum
