#inspiration.shift
    .container
        header
            .intro
                h2 !{public._data.sections.inspiration.heading}
                p.lead !{public._data.sections.inspiration.description} 
                    img(src="assets/img/heart.svg" width="22px")
    .container        
        .inspiration
            div.swiper-container.swiper-container-h(id="inspiration-slider")
                //div.parallax-bg.swiper-lazy(data-background="#{s.bgimage}" data-swiper-parallax="-24%")
                .swiper-wrapper
                    each screen in public._data.sections.inspiration.screens
                            .screen-col.swiper-slide.swiper-lazy(class="#{screen.class}" data-background=typeof screen.image === "undefined" ? "" : "#{screen.image}" data-hash=typeof screen.id === "undefined" ? "#{screen.alt}" : "inspiration-slider/#{screen.id}")
                                .overlay
                                    .container.centered
                                        .screen
                                            .center
                                                if screen.screen
                                                    img.swiper-lazy(data-src="assets/img/#{screen.screen}" alt="#{screen.alt}")
                                                    .swiper-lazy-preloader.swiper-lazy-preloader-white
                                        .legend
                                            .center
                                                span 
                                                    a(href="http://#{screen.link}" target="_blank") !{screen.link} 
                                                    | !{screen.legend}
                .swiper-button-next
                .swiper-button-prev

            .swiper-pagination.swiper-pagination-h(class="inspiration-slider")