header.start
    #video-container
        video#video_background(autoplay, preload='auto', loop background-image="assets/img/#{public._data.start.bgimage}")
            source#mp4(src='assets/media/undo.mp4', type='video/mp4')
            source#ogg(src='assets/media/undo.ogv', type='video/ogg')
            source#webm(src='assets/media/undo.webm', type='video/webm')
        span.mute.off
        
    #interlude.shift
        .container.centered
            .interlude
                h1 !{public._data.start.headline}
                p.i !{public._data.start.interlude}
                
                for s in public._data.start.buttons
                    a(href="#{s.link}" class="btn #{s.class}" target="_blank") #{s.button}
                br                
                span.v Version: 
                    b !{public._data.start.version}