//- TODO: Change to production = prod when launching!
if environment == "production"
    - var env = "prod"
else
    - var env = "dev"

if current.path[0] == "index"
    -var page_name = "home"

doctype html
html.no-js(lang="de")
  head
    <!-- Swisscom PNT UI Kit Landing Page -->
    <!-- Developer: Marcel Hadorn for Duotones LLC (duotones.ch) -->
    <!-- All HTML/CSS code (c)2016 Duotones LLC. all rights reserved -->
    <!-- Design, Data and Content (c)2016 Swisscom AG. -->
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title !{public._data.global.title}
    meta(name='description', content="Mit dem User Interface Kit von PNT für Designer und Frontend Entwickler baust du im Handumdrehen responsive und konsistente Swisscom Web-Apps - beste Usability inklusive.")
    meta(name="author" content="Daniel Ehrensperger, Tobias Walser und Bruno Roth for Swisscom AG")
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
    link(rel="icon" type="image/png" href="favicon.ico")
    link(rel='stylesheet', href='assets/css/normalize.css')
    link(rel='stylesheet', href='assets/css/style.css')
    script(src='assets/js/vendor/modernizr-2.8.3.min.js')
    //script(src="//tags.tiqcdn.com/utag/swisscom/main/#{env}/utag.sync.js")
  body.cu(class=(page_name))
    <!--[if lt IE 8]>
    p.browsehappy
      | You are using an <strong>outdated</strong> browser.
      | Please <a href="http://browsehappy.com/">upgrade your browser</a>
      | to improve your experience.
    <![endif]-->

    //- Turn off Google
    <!--googleoff: all-->

    //- Site Content
    != partial("_nav")
    != yield
    != partial("_footer")

    <!--googleon: all-->

    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
    //script(src="assets/js/vendor/jquery-1.11.0.min.js")
    script(src='assets/js/vendor/swiper.jquery.min.js')
    script(src="//cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.2.8/jquery.form-validator.min.js")
    script(src='assets/js/vendor/jquery.ajaxchimp.js')
    script(src='assets/js/plugins.js')
    script(src='assets/js/main.js')
    //script(type="text/javascript" src="https://duotones.atlassian.net/s/c82aa8de85628af08b7929eb4d18abd3-T/en_USzcxr0j/72000/b6b48b2829824b869586ac216d119363/2.0.12/_/download/batch/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector.js?locale=en-US&collectorId=4a4a35af")

    //- Google Analytics: change UA-XXXXXX-2 to be your site's ID.
    script.
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='//www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','UA-76950019-2');ga('send','pageview');
