.navigation.inverted
    .container
        h2.shift 
            a(href="/") !{public._data.global.site}
        
        .hamburger
            span.bar
            span.bar
            span.bar

        #nav-drawer
            ul.nav#nav
                for l in public._data.sections
                    li(class="#{l.id}")
                        if current.path[0] == "index"
                            a.anchor(href="##{l.id}") #{l.heading}
                        else
                            a.link(href="/##{l.id}") #{l.heading}


