#newsletter.shift
    .container
        header
            .intro
                h2 !{public._data.sections.newsletter.heading}
                p.lead !{public._data.sections.newsletter.description}
    .container        
        .newsletter
            form#mc-form(action="/#subscribed" novalidate)
                //- input.hidden(type="hidden")
                //- .input-container
                //-     input#mc-email.mail(type="email" placeholder="#{public._data.sections.newsletter.form.label}" required="required" data-validation-error-msg="Ihre Eingabe ist keine korrekte E-Mail Adresse")
                //-     span(class="floatlabel") !{public._data.sections.newsletter.form.label}
                //-     span.messages
                //-         label.msg(for="mc-email")
                a.btn.send.larger(href="#{public._data.sections.newsletter.form.action}") !{public._data.sections.newsletter.form.button}