#principles.shift
    .container
        header
            .intro
                h2 !{public._data.sections.principles.heading}
                p.lead !{public._data.sections.principles.description}
           
    .principles
        .container 
            .tabs
                ul
                    each t in public._data.sections.principles.tabs
                        li.tab(class=typeof t.active === "undefined" ? "" : "active")
                            a(data-tab="#{t.id}") !{t.title}

            .tab-contents
                each t in public._data.sections.principles.tabs
                    .tab-content(id="#{t.id}" class=typeof t.active === "undefined" ? "" : "active")
                        .illustration
                            img(src="assets/img/#{t.illustration}" alt="#{t.title}")
                        .description
                            p !{t.description}