#resources.shift
    .container
        header
            .intro
                h2 !{public._data.sections.resources.heading}
                p.lead !{public._data.sections.resources.description}
    .container        
        .resources
            each r in public._data.sections.resources.resources
                .row
                    .half.image
                        if r.image
                            img(src='assets/img/#{r.image}' alt='#{r.title}')
                    .half.text
                        .description
                            h3 !{r.title}
                            p !{r.description}
                            for b in r.button
                                a(href="#{b.link}" class="btn #{b.class}" target="_blank") #{b.button}