#testimonials.shift
    .testimonials
        div.swiper-container.swiper-container-t(id="testimonials-slider")
            //div.parallax-bg.swiper-lazy(data-background="#{s.bgimage}" data-swiper-parallax="-24%")
            .swiper-wrapper
                each screen in public._data.sections.testimonials.screens
                        .screen-col.swiper-slide.swiper-lazy(class="#{screen.class}" data-background=typeof screen.image === "undefined" ? "" : "assets/img/#{screen.image}" data-hash=typeof screen.id === "undefined" ? "#{screen.alt}" : "testimonials-slider/#{screen.id}")
                            .overlay
                                .container
                                    .center
                                        .quote
                                            blockquote !{screen.legend}
                                            span !{screen.name}
                                            br
                                            span !{screen.title}
                                        
                                        a.btn.secondary.larger(href="#{public._data.sections.testimonials.action}") !{public._data.sections.testimonials.button}
        //-     .swiper-button-next
        //-     .swiper-button-prev
        //- 
        //- .swiper-pagination.swiper-pagination-h(class="testimonials-slider")
