//- .swiper-container.swiper-container-v.shift
//-     .swiper-wrapper
//-         != partial("_start")
//-         != partial("_sections")
-var page = {name: 'home'};

!= partial("_interlude")
!= partial("_resources")
!= partial("_inspiration")
!= partial("_principles")
!= partial("_testimonials")
!= partial("_newsletter")
