//- .swiper-container.swiper-container-v.shift
//-     .swiper-wrapper
//-         != partial("_start")
//-         != partial("_sections")

#interlude.shift.legal
    .container
        h1 Impressum
#legal.shift
    .container.centered
        .wide
            each s in public._data.legal.sections
                h4 !{s.title}
                p !{s.text}

        .narrow
            div(style='margin: 0px 25px 0 25px;')
                h4 © Development
                    a(title='Duotones', href='http://duotones.ch', target='_blank')
                    img(src='http://duotones.ch/assets/images/dtnslogo.png', alt='Duotones', width='200', height='25', style='display: block; margin-top: 20px;')
                br
                address
                | Duotones GmbH
                br
                | Falkenweg 7
                br
                | 3012 Bern - Switzerland
                br
                br
                a(target='_blank') 031-536-0245
                br
                a(title='Duotones', href='http://duotones.ch', target='_blank') http://duotones.ch
