/*
 * Swisscom PNT Living Styleguide Landing Page
 * Developer: Marcel Hadorn for Duotones LLC (duotones.ch)
 * All HTML/CSS code (c)2016 Duotones LLC. all rights reserved
 * Design, Data and Content (c)2016 Swisscom AG.
*/

// Variables
@import "partials/vars";

// Bourbon
@import "bourbon/bourbon";
@import "neat/neat";
@import "base/base";

// Custom Styles
@import "partials/mixins";
@import "partials/typo";
@import "partials/swiper";
@import "partials/layout";
@import "partials/nav";
@import "partials/video";
@import "partials/interlude";
@import "partials/sections";

#reporter-feedback {
    z-index: 99999;

    &.visible {
        bottom: -14px;
        padding-top: 1px !important;

        &:hover {
            padding-top: 6px !important;
            bottom: 0;
        }
    }
}